.display-input-filter label:hover{
    text-decoration:underline;
    cursor:pointer;
}

.display-input-filter  button {
    background-image: url("/chevron_down.svg") !important;
    background-repeat: no-repeat;
    background-position: 90% 55%; 
}

.display-input-filter  input{
    background-image: url("/search.svg") !important;
    background-repeat: no-repeat;
    background-position: 5% 55%; 
}